{{template "base" .}}
{{define "title"}}Homepage{{end}}

{{define "body"}}
<div class="center-vertical">
  <h1>Welcome to Planner<sup>&reg;</sup><h1>
  <h2>Sign up</h2>
  <p>Soon you will be able to sign up/in here</p>
</div>
{{end}}
