{{define "base"}}
<html lang="eng">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>{{template "title" .}} - TodoList</title>
  </head>
  <body>
    <nav>
      <span>
        <a href="/">home</a>
        <a href="/projects/">projects</a>
      </span>
      <span>
        <a href="/settings">settings</a>
        <a href="/">logout</a>
      </span>
    </nav>
    <section>
      <div>
        {{template "body" .}}
      </div>

      {{template "footer" .}}
      <script src="/static/js/main.js"></script>
    </section>
  </body>
</html>
{{end}}
