{{define "base"}}
<html lang="eng">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title> Planner::{{template "title" .}}</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/projects/">projects</a>
      <a href="/settings">settings</a>
    </nav>
    <section>
      <div>
        {{template "body" .}}
      </div>

      {{template "footer" .}}
      <script src="/static/js/main.js"></script>
    </section>
  </body>
</html>
{{end}}
