{{template "base" .}}
{{define "pageStyle"}}projects{{end}}
{{define "title"}}projects{{end}}

{{define "body"}}
<form autocomplete="off" class="project-form" method="POST">
  <p class="form-header">
    <span>Create new project</span>
    <a class="cancel-btn" href="/">Cancel</a>
  </p>
  <div class="form-body">
    <div class="input-with-label">
      <label class="input-label" for="title">Project title</label>
      <input class="cta {{with .Form.ValidationErrs}}{{if .title}}errored{{end}}{{end}}" type="text" name="title" value='{{.Form.Values.Get "title"}}' required>
      {{with .Form.ValidationErrs}}
      {{with .title}}
      {{range .}}
      <p class="input-error">{{.}}</p>
      {{end}}
      {{end}}
      {{end}}
      <p class="input-help">A good title is short and memorable. Something like <span class="title-suggestion">Timeline</span></p>
    </div>
    <div class="input-with-label">
      <label class="input-label" for="description">Project description</label>
      <input class="cta {{with .Form.ValidationErrs}}{{if .description}}errored{{end}}{{end}}" type="textarea" name="description" value='{{.Form.Values.Get "description"}}' required>
      {{with .Form.ValidationErrs}}
      {{with .description}}
      {{range .}}
      <p class="input-error">{{.}}</p>
      {{end}}
      {{end}}
      {{end}}
      <p class="input-help">The description sheds more light on the (possibly obsure) title used above</p>
    </div>
    <input class="cta" type="submit" value="Create">
    {{with .Form.ValidationErrs}}
    {{with .generic}}
    <pre>{{.}}</pre>
    {{end}}
    {{end}}
  </div>
</form>
{{end}}
