{{template "base" .}}
{{define "title"}}Your list{{end}}

{{define "body"}}
<h2>Your todos</h2>
<p>You have zero todos</p>

<h2>Add todo</h2>
<input type="text" placeholder="enter something here"></input>
{{end}}
