{{template "base" .}}
{{define "title"}}404{{end}}
{{define "body"}}
<div class="center-vertical">
  <h2>We looked everywhere :(</h2>
  <pre>{{.}}</pre>
  <a class="home-cta" href="/">
    Go home
  </a>
</div>
{{end}}
