{{template "base" .}}
{{define "title"}}projects{{end}}
{{define "body"}}
<div class="container">
  <div class="container-nav">
    <p class="container-header">
      <span>Projects</span>
      <a class="cta create-new" href="/projects/create">New &rarr;</a>
    </p>
  </div>
  <div class="container-main">There will be stuff here (useful stuff)</div>
</div>
{{end}}
