{{template "base" .}}
{{define "title"}}Project::{{.Title}}{{end}}

{{define "body"}}
<h2>{{.Title}} </h2>
<p><span>{{.ProjectNumber}}</span>|<span>{{.Description}}</span>|<span>{{.Created}}</span></p>
{{end}}
