div.container {
	display: flex;
	justify-content: start;
	align-items: center;
}

div.container-nav {
	padding: 1em 2em;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
}

div.container-nav a.create-new {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 2px 1px rgba(219, 219, 219, 0.733);
	text-decoration: none;
	padding: 0.7em 1em;
	border-radius: 15px;
	font-weight: 500 !important;
	font-size: 1.2em;
	color: inherit;
	opacity: 0.9;
}

div.container-nav a.create-new:hover {
	box-shadow: 0 0 1px 1px rgba(150, 150, 150, 0.733);
	opacity: 1;
}

div.container-main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

form.project-form {
	width: 40%;
	margin: 2em auto;
	box-shadow: 0 0 2px 1px rgba(192, 192, 192, 0.733);
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

form.project-form .form-header {
	background-color: rgb(238, 238, 238);
	width: 100%;
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

form.project-form .form-header span {
	font-weight: 500 !important;
}

form.project-form .form-header a.cancel-btn {
	padding: 0.8em 1em;
	color: inherit;
	text-decoration: none;
	border-radius: 2px;
	opacity: 0.7;
	transition: all ease-in-out 0.3s;
}

form.project-form .form-header a.cancel-btn:hover {
	background-color: rgb(209, 209, 209);
	opacity: 1;
}

form.project-form .form-body {
	padding: 2em;
	flex-direction: column;
	justify-content: start;
	align-self: start;
	flex-grow: 1;
}

form.project-form .input-with-label {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-self: start;
	margin-bottom: 2em;
}

form.project-form .input-with-label input[type="text"] {
	text-transform: capitalize;
}

form.project-form .input-with-label .input-label {
	font-weight: 500 !important;
	font-size: 0.9em;
	padding: 0.5em 0;
}
form.project-form .input-with-label .input-help {
	font-size: 0.8em;
	opacity: 0.9;
	padding: 1em 0;
}

form.project-form .input-with-label .input-help .title-suggestion {
	opacity: 0.95;
	font-weight: 500 !important;
	text-decoration: underline;
	text-decoration-style: double;
}

form.project-form .form-body .input-error {
	font-size: 0.7em;
	color: red;
	padding: 0.2em;
}

form.project-form input[type="submit"] {
	padding: 0.8em 1em;
	outline: none;
	border: none;
	width: 50%;
	background-color: rgb(12, 180, 12);
	color: white;
	border-radius: 3px;
	box-shadow: 0 0 2px 1px rgb(0, 0, 0);
	cursor: pointer;
	font-weight: 500 !important;
}

form.project-form input[type="submit"]:hover {
	background-color: rgb(1, 163, 1);
}

form.project-form input.errored {
	border: 1px solid red;
}
