div.container {
  display: flex;
  justify-content: start;
  align-items: center;
}

div.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

div.container-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
